@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, system-ui, sans-serif);
}

/* Animated Gradient Text */
@keyframes gradimate {
  0% {
    background-postion: 0%; 
  }
  100% { 
    background-position: 200%;
  }
}

.gradient {
  background-image: repeating-linear-gradient(
    90deg,
    #63DFFA,
    #5a38e0,
    #63DFFA
  );
  background-size: 200%;
  background-position-x: 0;
  animation: gradimate 3s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  z-index: 1;

}

.static-gradient {
  background: linear-gradient(90deg, #63DFFA, #5a38e0);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}